<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo size="large">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- -------------------------------------------------- -->

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-segment value="Inicio">
        <ion-segment-button (click)="navegar('/inicio')" value="Inicio">
          <ion-label>Inicio</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="navegar('/leerqr')" value="Mi clase">
          <ion-label>Mi clase</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="navegar('/datos')" value="Mis datos">
          <ion-label>Mis datos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center" #pages>
    <h1 *ngIf="usuario.cuenta.trim() !== ''" style="padding-top: 40px;">
      ¡Bienvenido(a)
      {{usuario.nombre}}
      {{usuario.apellido}}
    </h1>

  </div>
  <ion-item class="ion-padding-top">
    <div class="centrar">
      <div class="ion-text-center">
        <div class="enmarcar">
          <h1 *ngIf="!datosQR"> Registra tu asistencia a clases </h1>
    
          <video #video [hidden]="!escaneando" style="width: 100%"></video>
          <canvas #canvas hidden></canvas>


          <div class="margin-top">
            <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" shape="round">
              <ion-icon slot="start" name="videocam-outline"></ion-icon>
              Comenzar Escaneo de QR
            </ion-button>
      
            <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" shape="round">
              <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
              Detener escaneo de QR
            </ion-button>
          </div>

        </div>
      </div>
    </div>

  </ion-item>
</ion-content>


<!-- --------------------------------------------------- -->


<ion-footer>
  
</ion-footer>