<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Lectura de código qr </ion-title>
  </ion-toolbar>
</ion-header>
<br>






<ion-content [fullscreen]="true" style="border: 4px solid blue;">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">qrreader</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <input hidden #fileinput id="input-file" type="file" accept="image/*;capture=camera" (change)="verificarArchivoConQ($event)"> -->
  <input hidden #fileinput id="input-file" type="file" accept="image/*;capture=camera" (change)="verificarArchivoConQR($event)">   
  <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
      <ion-icon slot="start" name="camera"></ion-icon>
      Carga Imagen Con Código QR 
      </ion-button>
  
</ion-content>
